<% include ./partials/header %>

 <section class="container">
  <!--<div class="jumbotron">-->
  <div class="row text-center" style="display:flex; flex-wrap:wrap;padding:50px 0;">
   <% drinks.forEach(function(drink){ %>
    <div class="col-sm-6 col-md-6 col-lg-4 left-margin">
       <!--<div class="thumbnail">-->
           <img src="<%= drink.img%>"></img>
           <div class="caption">
               <h4 style="text-align:center"><%= drink.name %></h4>
               <div style="display:flex; justify-content:center;align-items:center">
                 <h2 style="margin-right:30px">&#8377; <%= drink.price %></h2>
                 <button type="button" class="btn btn-danger" href="/<%= drink._id %>/bye" data-toggle="modal" data-target="#<%=drink.id%>">Bye Now</button>
                 <!--<a href="/drinks/<%= drink._id %>/edit">Edit</a>-->
               </div>
           </div>
           <!--=====================-->
            <!--Bye Pizza modal-->
            <!--=====================--> 
            <div class="modal fade" id="<%=drink.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body" style="padding:0 0">
                   <form action="/go" method="post">
                   <div class="order-image">
                    <img style="margin-top:30px;" name="<%=drink.id%>" src="<%= drink.img%>"></img>
                   </div>
                   <div class="row">
                    <div class="col-md-12 ">
                     <h2 style="text-align:center"><%= drink.name %></h2>
                    </div>
                    <div class="col-md-6">
                     <div class="form-group" style="margin-left:20px;">
                       <textarea rows="6" class="form-control" name="[process]" placeholder="Address..."></textarea>
                     </div>
                     <div class="form-group" style="margin-left:20px;">
                      <input class="form-control" type="number" placeholder="Enter ZIP Code" ></input>
                     </div>
                    </div>
                    <div class="col-md-6">
                      <h2 style="margin-right:30px">&#8377; <%= drink.price %></h2>
                      <div class="thumbnail">
                       <h4>Select payment option</h4>
                       <div class="checkbox">
                         <label><input type="checkbox" value="" required>Cash on delivery</label>
                       </div>
                      </div>
                      <button class="btn btn-lg btn-danger">Check Out</button>
                    </div>
                   </div>
                   </form>
                  </div>
                </div>
              </div>
            </div>
       <!--</div>-->
    </div>
   <% }) %>
  </div>
 <!--</div>-->
 </section>

<% include ./partials/footer %>